@model UserManagement.Models.db.Publication

@{
    ViewBag.Title = "Деталі";
}

<h2>Деталі</h2>

<div>
    <h4>Публікації</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Назва
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            Інші автори
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OtherAuthors)
        </dd>

        <dt>
            Зареєстровані автори
        </dt>

        <dd>
            @ViewBag.PublicationUsers
        </dd>

        <dt>
            Дата
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Date)
        </dd>

        <dt>
            К-сть друк. арк.
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SizeOfPages)
        </dd>

        <dt>
            Тип
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PublicationType)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Редагувати", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Повернутись до списку", "Index")
</p>
